[Unit]
Description=core driver services to National Instruments drivers
After=remote-fs.target

[Service]
#RemainAfterExit=yes
Type=forking
ExecStart=/bin/bash /etc/init.d/nipal start
ExecStop=/bin/bash /etc/init.d/nipal stop

[Install]
WantedBy=multi-user.target
